# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kcachegrind -caption "%c" %u
MimeType=application/x-kcachegrind;
Icon=kcachegrind
DocPath=kcachegrind/index.html
Terminal=false
Name=KCachegrind
Name[x-test]=xxKCachegrindxx
GenericName=Profiler Frontend
GenericName[el]=Πρόγραμμα προφίλ
GenericName[fr]=Interface de profilage
GenericName[x-test]=xxProfiler Frontendxx
Comment=Visualization of Performance Profiling Data
Comment[el]=Αναπαράσταση δεδομένων ταχύτητας προφίλ
Comment[fr]=Visualisation des données de performance de profilage
Comment[x-test]=xxVisualization of Performance Profiling Dataxx
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Development;
