# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kcachegrind -caption "%c" %i %m %u
MimeType=application/x-kcachegrind;
Icon=kcachegrind
DocPath=kcachegrind/index.html
Comment=
Comment[ta]=  
Comment[xx]=xxxx
Terminal=0
Name=KCachegrind
Name[hi]=के-केश-ग्रिंड
Name[sv]=Kcachegrind
Name[ta]=  இடைமாற்றகட்டம்
Name[xx]=xxKCachegrindxx
GenericName=Profiler Frontend
GenericName[bs]=Profiler frontend
GenericName[ca]=Interfície de Profiler
GenericName[cs]=Rozhraní pro profilaci
GenericName[cy]=Blaen-wyneb Proffilydd
GenericName[da]=Forende for profiler
GenericName[de]=Profiler Oberfläche
GenericName[es]=Interfaz de Profiler
GenericName[et]=Profileerimisrakendus
GenericName[fi]=Profiloijan käyttöliittymä
GenericName[fr]=Interface de profilage
GenericName[hi]=प्रोफ़ाइलर फ्रन्टएण्ड
GenericName[hu]=Profilozó
GenericName[is]=Myndrænt viðmót á afkastakönnuð
GenericName[it]=Interfaccia grafica al Profiler
GenericName[ja]=プロファイラフロントエンド
GenericName[nb]=Grensesnitt for fremvisningen
GenericName[nl]=Profiler-hulpprogramma
GenericName[pl]=Interfejs do profilera
GenericName[pt]=Interface de Profiler
GenericName[pt_BR]=Interface para o Profiler
GenericName[ru]=Интерфейс к профилировщику
GenericName[sk]=Rozhranie pre profiler
GenericName[sl]=Vmesnik profilnika
GenericName[sr]=Графички интерфејс за профајлер
GenericName[sr@Latn]=Grafički interfejs za profajler
GenericName[sv]=Profileringsgränssnitt
GenericName[ta]= விவரக்குறிப்பு  முன்பகுதி
GenericName[zh_CN]=配置文件前端
Comment=Visualization of Performance Profiling Data
Comment[bs]=Vizualizacija podataka za profiliranje performansi
Comment[ca]=Visualizació de dades de perfilat de rendiment
Comment[cs]=Vizualizace profilovacích dat výkonu
Comment[da]=Visualisering af ydelse-profildata
Comment[de]=Visualisierung von Daten des Laufzeitverhaltens eines Programmes
Comment[en_GB]=Visualisation of Performance Profiling Data
Comment[es]=Visualización de datos de análisis de rendimiento
Comment[et]=Jõudluse profileerimise andmete visualiseerimise vahend
Comment[fi]=Visualisointi tehoprofiloinnin tiedoista
Comment[fr]=Visualisation des données de performance de profilage
Comment[hi]=परफार्मेस प्रोफाइलिंग डाटा का विजुअलाइज़ेशन
Comment[hu]=Teljesítményprofil-adatok megjelenítése
Comment[is]=Sjónræn framsetning gagna úr afkastakönnun
Comment[it]=Visualizzazione delle prestazioni per il profiling dei dati
Comment[ja]=パフォーマンスプロファイルデータを視覚化
Comment[nb]=Vis informasjon om ytelse.
Comment[nl]=Visualisatie van Performance Profiling Data
Comment[pl]=Wizualizacja danych profilowania wydajności
Comment[pt]=Visualização dos Dados de Análise de Performance
Comment[pt_BR]=Visualização de Dados de Perfil de Desempenho
Comment[ru]=Утилита для визуального профилирования приложений
Comment[sk]=Vizualizácia dát o výkone
Comment[sl]=Vizualizacija podatkov profilnih zmogljivosti
Comment[sr]=Визуелизација података о профилисању перформанси
Comment[sr@Latn]=Vizuelizacija podataka o profilisanju performansi
Comment[sv]=Åskådliggörande av profileringsdata för prestanda
Comment[ta]= விவர தகவலை செயல்பாட்டு காட்சியாளிப்பு
Comment[xx]=xxVisualization of Performance Profiling Dataxx
Comment[zh_CN]=可视化性能配置文件数据
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Development
