# KDE Config File
[Desktop Entry]
Type=Application
Exec=kcachegrind -qwindowtitle %c %u
MimeType=application/x-kcachegrind;
Icon=kcachegrind
X-DocPath=kcachegrind/index.html
Terminal=false
Name=KCachegrind
Name[bg]=KCachegrind
Name[br]=KCachegrind
Name[bs]=KCachegrind
Name[ca]=KCachegrind
Name[ca@valencia]=KCachegrind
Name[cs]=KCachegrind
Name[cy]=KCachegrind
Name[da]=KCachegrind
Name[de]=KCachegrind
Name[el]=KCachegrind
Name[en_GB]=KCachegrind
Name[eo]=KCachegrind
Name[es]=KCachegrind
Name[et]=KCachegrind
Name[eu]=KCachegrind
Name[fi]=KCachegrind
Name[fr]=KCachegrind
Name[ga]=KCachegrind
Name[gl]=KCachegrind
Name[he]=KCachegrind
Name[hu]=KCachegrind
Name[ia]=KCachegrind
Name[is]=KCachegrind
Name[it]=KCachegrind
Name[ja]=KCachegrind
Name[ka]=KCachegrind
Name[kk]=KCachegrind
Name[km]=KCachegrind
Name[ko]=KCachegrind
Name[lt]=KCachegrind
Name[lv]=KCachegrind
Name[mr]=के-कॅशेग्रिन्ड
Name[nb]=KCachegrind
Name[nds]=KCachegrind
Name[ne]=केडीई क्यास ग्रिन्ड
Name[nl]=KCachegrind
Name[nn]=KCachegrind
Name[pa]=KCachegrind
Name[pl]=KCachegrind
Name[pt]=KCachegrind
Name[pt_BR]=KCachegrind
Name[ro]=KCachegrind
Name[ru]=KCachegrind
Name[sk]=KCachegrind
Name[sl]=KCachegrind
Name[sr]=К‑кешгринд
Name[sr@ijekavian]=К‑кешгринд
Name[sr@ijekavianlatin]=KCacheGrind
Name[sr@latin]=KCacheGrind
Name[sv]=Kcachegrind
Name[ta]=  இடைமாற்றகட்டம்
Name[tg]=KCachegrind
Name[tr]=KCachegrind
Name[ug]=KCachegrind
Name[uk]=KCachegrind
Name[x-test]=xxKCachegrindxx
Name[zh_CN]=KCachegrind
Name[zh_TW]=KCachegrind
GenericName=Profiler Frontend
GenericName[bs]=Profajlerski program
GenericName[ca]=Frontal de l'analitzador de rendiment
GenericName[ca@valencia]=Frontal de l'analitzador de rendiment
GenericName[cs]=Rozhraní pro profilaci
GenericName[cy]=Blaen-wyneb Proffilydd
GenericName[da]=Grænseflade til profilering
GenericName[de]=Profiler-Oberfläche
GenericName[el]=Πρόγραμμα προφίλ
GenericName[en_GB]=Profiler Frontend
GenericName[eo]=Fasado de Profililo
GenericName[es]=Interfaz del analizador de rendimiento
GenericName[et]=Profileerimisrakendus
GenericName[eu]=Profilatzailearen aurrealdekoa
GenericName[fa]=پایانه گزارش‌گیر
GenericName[fi]=Profiloijan käyttöliittymä
GenericName[fr]=Interface de profilage
GenericName[ga]=Comhéadan ar Phróifíleoir
GenericName[gl]=Interface para o profiler
GenericName[he]=ממשק מרכיב פרופילים
GenericName[hu]=Ábrázoló előtétprogram
GenericName[ia]=Fronte de profilator
GenericName[is]=Myndrænt viðmót á afkastakönnuð
GenericName[it]=Interfaccia a profiler
GenericName[ja]=プロファイラフロントエンド
GenericName[ka]=პროფაილერის წინაბოლო
GenericName[kk]=Профильдеткіштің интерфейсі
GenericName[km]=កម្មវិធី​ផ្នែក​ខាង​មុខ​របស់​ទម្រង់
GenericName[ko]=프로파일러 프론트엔드
GenericName[lt]=Profiliuoklio naudotojo sąsaja
GenericName[lv]=Profilēšanas priekšpuse
GenericName[mr]=प्रोफाइलर फ्रंटएन्ड
GenericName[nb]=Grensesnitt for profilvisning
GenericName[nds]=Profiler-Böversiet
GenericName[ne]=प्रोफाइलर फ्रन्टइन्ड
GenericName[nl]=Profiler-hulpprogramma
GenericName[nn]=Grensesnitt for profilvising
GenericName[pa]=ਪਰੋਫਾਇਲਰ ਫਰੰਟ-ਐਂਡ
GenericName[pl]=Interfejs do profilera
GenericName[pt]=Interface de Análise de Performance
GenericName[pt_BR]=Interface de análise de performance
GenericName[ro]=Interfață grafică pentru profilatoare
GenericName[ru]=Интерфейс профилировщика
GenericName[sk]=Rozhranie pre profiler
GenericName[sl]=Začelje profilnika
GenericName[sr]=Прочеље профилизатора
GenericName[sr@ijekavian]=Прочеље профилизатора
GenericName[sr@ijekavianlatin]=Pročelje profilizatora
GenericName[sr@latin]=Pročelje profilizatora
GenericName[sv]=Profileringsgränssnitt
GenericName[ta]= விவரக்குறிப்பு முன்பகுதி
GenericName[tg]=Интерфейс ба профилкунанда
GenericName[tr]=Profil Ön Yüzü
GenericName[uk]=Інтерфейс до Profiler
GenericName[wa]=Eterface grafike po Profiler
GenericName[x-test]=xxProfiler Frontendxx
GenericName[zh_CN]=分析器前端
GenericName[zh_TW]=分析器前端
Comment=Visualization of Performance Profiling Data
Comment[bg]=Визуализация на данните за производителност
Comment[bs]=Predočenje podataka profiliranja performansi
Comment[ca]=Visualització de les dades d'anàlisi del rendiment
Comment[ca@valencia]=Visualització de les dades d'anàlisi del rendiment
Comment[cs]=Vizualizace profilovacích dat výkonu
Comment[da]=Visualisering af profileringsdata
Comment[de]=Visualisierung von Daten des Laufzeitverhaltens eines Programmes
Comment[el]=Αναπαράσταση δεδομένων ταχύτητας προφίλ
Comment[en_GB]=Visualisation of Performance Profiling Data
Comment[eo]=Bildigo de Rendimentprofilaj Datumoj
Comment[es]=Visualización de datos de análisis de rendimiento
Comment[et]=Jõudluse profileerimise andmete visualiseerimise vahend
Comment[eu]=Errendimendua profilatzeko datuak irudikatzea
Comment[fa]=تجسم کارایی گزارش داده‌ها
Comment[fi]=Visualisointi tehokkuusprofiloinnin tiedoista
Comment[fr]=Visualise les données de profilage de performances
Comment[ga]=Amharcléiriú ar Shonraí Próifílithe Feidhmíochta
Comment[gl]=Visualización dos datos da análise de rendemento
Comment[he]=המחשת נתוני הרכבת פרופיל נתונים
Comment[hu]=Teljesítményprofil-adatok megjelenítése
Comment[ia]=Visualisation de datos de profilar de prestationes
Comment[is]=Sjónræn framsetning gagna úr afkastakönnun
Comment[it]=Visualizzazione dei dati di profilo delle prestazioni
Comment[ja]=パフォーマンスプロファイルデータを視覚化
Comment[ka]=წარმადობის პროფილირების მონაცემების ვიზუალიზაცია
Comment[kk]=Деректерді профильдеудің визуализациясы
Comment[km]=កា​រ​មើល​ឃើញ​ការ​អនុវត្ត​របស់​ទិន្នន័យ​ទម្រង់
Comment[ko]=성능 프로파일링 데이터 시각화
Comment[lt]=Veikimo profiliavimo duomenų vizualizacija
Comment[lv]=Veiktspējas profilēšanas datu vizualizācija
Comment[mr]=कार्यक्षमता प्रोफाइलिंग डेटाचे व्हिज्युअलायझेशन
Comment[nb]=Vis informasjon om ytelse.
Comment[nds]=Visualiseren vun Programmleisten-Looptietdaten
Comment[ne]=सम्पादन प्रोफाइलिङ डाटाको दृष्टिकरण
Comment[nl]=Visualisatie van Performance Profiling Data
Comment[nn]=Visualisering av data frå ytingsprofilar
Comment[pl]=Wizualizacja danych profilowania wydajności
Comment[pt]=Visualização dos Dados de Análise de Performance
Comment[pt_BR]=Visualização dos dados de análise de desempenho
Comment[ro]=Vizualizarea datelor de profilare a performanței
Comment[ru]=Визуализация данных профилирования производительности
Comment[sk]=Vizualizácia dát o výkone
Comment[sl]=Vizualizacija podatkov profilnih zmogljivosti
Comment[sr]=Визуелизација профилисања перформанси
Comment[sr@ijekavian]=Визуелизација профилисања перформанси
Comment[sr@ijekavianlatin]=Vizuelizacija profilisanja performansi
Comment[sr@latin]=Vizuelizacija profilisanja performansi
Comment[sv]=Åskådliggörande av profileringsdata för prestanda
Comment[ta]= விவர தகவலை செயல்பாட்டு காட்சியாளிப்பு
Comment[tg]=Утилита барои гузориши профили визуалӣ
Comment[tr]=Performans Profilleme Verisinin Görünür Hali
Comment[ug]=سانلىق-مەلۇماتلارنىڭ سەپلىنىشىنى سۈرەتلەشتۈرۈش
Comment[uk]=Візуалізація даних профілювання швидкодії
Comment[x-test]=xxVisualization of Performance Profiling Dataxx
Comment[zh_CN]=性能测试数据的可视化表现
Comment[zh_TW]=效能分析資料視覺化
StartupWMClass=kcachegrind
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.kde.kcachegrind
Categories=Qt;KDE;Development;
