# KDE Config File
[Desktop Entry]
Type=Application
Exec=kcachegrind -qwindowtitle %c %u
MimeType=application/x-kcachegrind;
Icon=kcachegrind
X-DocPath=kcachegrind/index.html
Terminal=false
Name=KCachegrind
GenericName=Profiler Frontend
Comment=Visualization of Performance Profiling Data
StartupWMClass=kcachegrind
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.kde.kcachegrind
Categories=Qt;KDE;Development;
