[Desktop Entry]
Encoding=UTF-8
Comment=Cachegrind/Callgrind Profile Dump
DefaultApp=kcachegrind
Icon=kcachegrind
Type=MimeType
MimeType=application/x-kcachegrind
Patterns=cachegrind.out*;callgrind.out*
